<div class="jumbotron">
  <h1>Favorite Cities</h1>
</div>

<form action="/" method="post">
  <div class="form-group">
    <!-- height -->
    <h2>Input your favorite cities</h2>
    <input name="city" class="form-control" type="text" placeholder= "First city"><br>
    <button type="submit" class="btn">Make List</button>
  </div>
</form>
