<div class="jumbotron">
  <h1>Favorite Cities</h1>
</div>

<form action="/" method="post">
  <div class="form-group">
    <!-- height -->
    <h2>Input your favorite cities</h2>
    <input name="city" class="form-control" type="text" placeholder= "Enter city"><br>
    <h2>Input city ranking</h2>
    <input name="rank" class="form-control" type="text" placeholder= "Enter ranking"><br>
    <button type="submit" class="btn">Make List</button>
  </div>
  <div id="output">
    <h2>HERE'S A LIST!</h2><br>

    <% @list.each do |x| %>
    <h4><%= x.cityname %></a></h4>
    <% end %>

  </div>
</form>
